@{
  Layout = "_Layout";
}

@using Sweets.Models

<h1>Welcome to Pierre's Sweet and Savory Treats!</h1>

<h2>Treats:</h2>
  @if(Model.Count == 0)
  {
    <p>No treats added yet.</p>
  }
  else
  {
  @foreach (Treat treat in Model)
    {
      <li>@Html.ActionLink(treat.Name, "Details", "Treats", new { id = treat.TreatId })</li>
    }
  }

<h2>Flavors:</h2>
  @if(ViewBag.AllFlavors.Count == 0)
  {
    <p>No flavors added yet.</p>
  }
  else
  {
  @foreach (Flavor flavor in ViewBag.AllFlavors)
    {
      <li>@Html.ActionLink(flavor.Taste, "Details", "Flavors", new { id = flavor.FlavorId })</li>
    }
  }

