@{
  Layout = "_Layout";
}

@model Sweets.Models.Flavor

<h2>Add a new flavor!</h2>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Taste)
  @Html.TextBoxFor(model => model.Taste)

  <input type="submit" value="Add new flavor"/>
}