@{
  Layout = "_Layout";
}

@using Sweets.Models


<h2>Treat: @Model.Name</h2>

<p>@Html.ActionLink("Delete this treat", "Delete", new { id = Model.TreatId}) </p>
<p>@Html.ActionLink("Edit this treat", "Edit", new { id = Model.TreatId}) </p>
